<!DOCTYPE html>
<html>
    <head>
        <title>Send Request</title>
    </head>
    <body>
        <form action="/send_request" method="post">
            <label for="token">Selecciona Sush:</label>
            
            <select id="token" name="sushid">
                <option value="10549456">Andey</option>
                <option value="10578081">Han</option>
                <option value="10860600">Alita</option>
                <option value="13271300">Hiroshi</option>
                <option value="14440993">Nico</option>
                <option value="12266357">Montse</option>
                
            </select>
            <input name="corazones" value="4"></input>
            <button type="submit">Send Request</button>
        </form>
    </body>
</html>
